<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Server Management App</h3>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-cockpit (serverCreated)="getServerDetails($event)"> </app-cockpit>
      <br />
      <button class="btn btn-primary" (click)="addServer()">Add Server</button>
      <button class="btn btn-success" (click)="addBluePrint()">
        Add Blueprint
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <br />
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
      >
        <div class="panel-heading">
          <h4>{{ serverElement.name }}</h4>
        </div>
        <div class="panel-body">
          <p
            [ngStyle]="{
              color: serverElement.type === 'server' ? 'red' : 'blue'
            }"
          >
            {{ serverElement.content }}
          </p>
        </div>
      </app-server-element>
    </div>
  </div>
</div>
